body {
    background-color: rgb(3, 100, 52);
    width: auto;
    border: 10px solid black;
    margin: auto;
}

div{ 
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    background-color: bisque;
}

main{
    background-color: rgb(211, 236, 236);
}

ul{
    /* display: inline-grid; */
    /* align-self: center; */
    width: 100px;
    border: 15px solid black;
    padding:50px;
    margin: 50px;
    /* margin: left 100px;  */

}

ol{
    /* display: inline-grid; */
    /* align-self: center; */
    width: 100px;
    border: 15px solid gold;
    padding:50px;
    margin: 50px;
    /* margin: left 100px; */
}

p{
    font-size:20px;
    font-style: Arial;
    padding: 50px;
}



footer{
    background-color:bisque;
}