body {
    background-color: grey;
    width: 960px;
    border: 1px solid black;
    margin: auto;
}

h1{
    text-align: center;
    background-color: bisque;
}

main{
    background-color: teal;
}

ul{
    display: inline-block;
    width: 100px;
    border: 15px solid black;
    padding:50px;
    margin: left 100px; 

}

ol{
    display: inline-block;
    width: 100px;
    border: 15px solid black;
    padding:50px;
    margin: center 100px;
}

p{
    padding: 50px;
}



footer{
    background-color:bisque;
}